body {
  background-color: #1c1c1c;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Karla", sans-serif;
  font-size: 40px;
  margin-top: 115px;
  margin-left: 52px;
  margin-bottom: 0px;
  color: #ffffff;
}

span {
  color: #4adf86;
}

h2 {
  color: #d5d4d8;
  font-size: 20px;
  margin-left: 52px;
  margin-top: 10px;
}

button {
  font-size: 16px;
  padding: 9px 15px;
  margin-left: 52px;
  color: #ffffff;
  background-color: #10b981;
  border: none;
  border-radius: 6px;
}

button:hover {
  background-color: #047857;
}

button:active {
  background-color: #064e3b;
}

.container {
  max-width: 550px;
  margin: 64px auto;
  background-color: #1f2937;
}

.line {
  border: 0.5px solid #2f3e53;
  width: 446px;
  margin: 35px auto;
  margin-top: 10px;
  padding: 0px;
}

.columns {
  display: flex;
}

.generated-password {
  margin: 0 auto;
  background-color: #273549;
  color: #55f991;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-left: 50px;
  text-align: center;
}

#first-password,
#second-password {
  padding: 12px;
  margin: 0;
}

#first-password:empty,
#second-password:empty {
  padding: 0 0 44px 0;
}

.copy {
  margin: 0px;
  margin-left: 10px;
  margin-right: 80px;
}

.trademark {
  text-align: center;
  padding-bottom: 20px;
  color: #9ca3af;
  font-size: 12px;
}

.input {
  color: white;
  margin-left: 52px;
  margin-bottom: 20px;
  margin-top: 50px;
}

#length {
  width: 60px;
  border: none;
  border-radius: 6px;
  background-color: #9ca3af;
  font-size: 16px;
  text-align: center;
  color: 111827;
}

#length.hover {
  border: none;
}

#length.active {
  border: none;
}

#notification-el {
  /* text-align: center; */
  color: #e11d48;
  margin-left: 52px;
  margin-top: 30px;
  font-size: 16px;
}

#notification-el:empty {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus,
input:focus {
  outline: none;
}
